body {
  min-height: 100vh;
  margin: 0;
  background-color: #bad3d2 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}

.font-cursive {
  font-family: 'Dancing Script', cursive;
}

.dropdown-item:hover,
.dropdown-item.active,
.btn,
.card-body,
.recipe-card {
  background-color: #bad3d2;
  color: darkslategrey;
}

.bullets {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.bullets li {
  position: relative;
  padding-left: 1.55rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.bullets li::before {
  content: '◦';
  position: absolute;
  font-size: 0.9rem;
  top: 0.1rem;
  left: 0;
  color: #c4a49e;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.food-banner {
  background-image: url('food-banner.jpg');
  background-size: cover;
  background-position: center 10%;
  transform: scaleY(-1);
  background-repeat: no-repeat;
  border-radius: 5;
  z-index: 0;
  opacity: 0.6;
}

.quote-box {
  max-width: 600px;
  z-index: 1;
  position: relative;
  background-color: #eee8e8;
  opacity: 0.9;
  margin-top: 5rem;
  backdrop-filter: blur(2px);
  border-radius: 12px;
}

.site-author {
  color: #777;
  font-size: 0.9em;
}
